<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" contents="IE=edge">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Login / Register</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
    <script src="/public/assets/script.js"></script>
</head>

<body>
    <div class="container" id="login-container">
        <h1>Login</h1>
        <form id="login-form">
            <label for="login-username">Email:</label>
            <input type="text" id="login-username" name="login-email" required>
            
            <label for="login-password">Password:</label>
            <input type="password" id="login-password" name="login-password" required>
            
            <button type="submit">Login</button>
        </form>
        
        <div class="switch-page">
            <p>Don't have an account? <button id="show-register" onclick="showRegister()">Register here</button></p>
        </div>
    </div>
    
    <div class="container" style="display: none;" id="register-container">
        <h1>Register</h1>
        <form id="register-form">
            <label for="register-name">Full Name:</label>
            <input type="text" id="register-username" name="register-name" required>

            <label for="register-email">Email:</label>
            <input type="text" id="register-username" name="register-email" required>
            
            <label for="register-password">Password:</label>
            <input type="email" id="register-email" name="register-password" required>
            
            <label for="confirm-password">Confirm Password:</label>
            <input type="password" id="register-password" name="confirm-password" required>
            
            <button type="submit">Register</button>
        </form>
        
        <div class="switch-page">
            <p>Already have an account? <button id="show-login" onclick="showLogin()">Login here</button></p>
        </div>
    </div>
</body>